@page "/product/{id}"
@model WebApplication1.Pages.ProductModel
@{
    ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true"/>

<div class="product_flex-container">
    <div class="product_flex-item">
        <form>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="@Model.MyProduct.Title"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" value="@Model.MyProduct.Description"><br>
            <label for="price">Price:</label><br>
            <input type="text" id="price" name="price" value="@Model.MyProduct.Price"><br>
            <label for="discount">Discount:</label><br>
            <input type="text" id="discount" name="discount" value="@Model.MyProduct.DiscountPercentage"><br>
            <label for="rating">Rating:</label><br>
            <input type="text" id="rating" name="rating" value="@Model.MyProduct.Rating"><br>
            <label for="stock">Stock:</label><br>
            <input type="text" id="stock" name="stock" value="@Model.MyProduct.Stock"><br>
            <label for="brand">Brand:</label><br>
            <input type="text" id="brand" name="brand" value="@Model.MyProduct.Brand"><br>
            <label for="category">Category:</label><br>
            <input type="text" id="category" name="category" value="@Model.MyProduct.Category">
        </form>
    </div>
    <div class="flex-item">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    var isFirstIteration = true;
                }
                @foreach (var image in Model.MyProduct.Images)
                {
                    <div class="carousel-item @(isFirstIteration ? "active" : "")">
                        <img class="d-block w-100" src="/image/@Model.MyProduct?.Id/@image.Split('/').Last()" alt="">
                    </div>
                    isFirstIteration = false;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>